.cameraCanvas {

  width: 100%; 
           height:100%;
        }

        .newcameraCanvas {

  width: 256px; 
           height: 256px;
        }
        


 .touchActionDisable{
   touch-action: none;

 }
  .scroll{
      border: 1px solid rgb(37, 197, 144);
            overflow-y: auto;
              word-wrap: break-word;
                width: 200px; /* 正方形のサイズを指定 */
            height: 200px; /* 正方形のサイズを指定 */
        }

        .nav-link {
      border-radius:0 !important;
    }

    canvas{
      border: 1px solid rgb(0, 0, 0);
    }


    .sqarediv{
        height: 256px;
    }